/stats.py
/sentence_encoder.py
/elmo.py
/keras_layers.py
/main.py
/report
/original_graph
/lstm1_graph
/logs
/cnn_graph
/cnn1_graph
/baseline_graph
/baseline1_graph
/cnn_double_graph
/cnn_flat_graph
/data/preprocessed.pkl
/data/product_review_counts.pkl
/data/ratings_disc.pkl
/data/reviewer_review_counts.pkl
/data/sent_counts.pkl
/data/sent_counts_norm.pkl
/data/sentence_lengths.pkl
/data/spelling_ratios.pkl
/data/tags_bow.pkl
/data/tags_bow_norm.pkl
/data/text_tags.pkl
/data/tfidf.pkl
/data/word_counts.pkl
/data/word_counts_norm.pkl
/data/word2vec.model.pkl
/data/wordvecs.pkl
/data/docvecs.hdf
/data/electronics.feather
/data/labels_disc.pkl
/data/models/baseline_chkpt.h5
/data/models/baseline1.h5
/data/models/cnn.h5
/data/models/cnn_chkpt.h5
/data/models/cnn_double.h5
/data/models/cnn_double_chkpt.h5
/data/models/cnn_flat.h5
/data/models/cnn1.h5
/data/models/lstm_chkpt.h5
/data/models/lstm1.h5
/data/models/original.h5
/data/models/baseline.h5
/data/texts/electronics.json.gz
